---
---
// my custom variables that Minima can use here

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.p-rank {
	text-decoration: underline;
	text-decoration-thickness: 6%;
}

.post-content h2 {
	font-size: 1.75rem
}

.post-link-header {
	margin-bottom: 0px;
}
// my custom CSS rules that override Minima's rules here